<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Pnitech-Contact</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <style>body {
  background-color: #E13737;
}
header{
background-color:#F3E648
}
</style>
</head>
<body>
<header class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" >
<!--      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">-->
<!--        <path d="{% static 'img/favicon.jpg' %}"></path>-->
<!--      </svg>-->
      <img src="{% static 'img/favicon.jpg' %}">
<!--      <span class="ml-3 text-xl">Pnitech</span>-->
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="text-black mr-5 hover:text-gray-900" href="home">Home</a>
      <a class="text-black mr-5 hover:text-gray-900" href="aboutus">About us</a>
      <a class="text-black mr-5 hover:text-gray-900" href="services">Services</a>
      <a class="text-black mr-5 hover:text-gray-900" href="blog">Blog</a>
      <a class="text-black mr-5 hover:text-gray-900" href="gallery" >Gallery</a>
      <a class="text-black mr-5 hover:text-gray-900" href="contact">Contact</a>
    </nav>

  </div>
</header>

<section class="text-gray-700 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12 text-white">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Do you have a project that you would like to discuss? Or just want to say hello? Drop us a line and we will get back to you as soon as we can!</p>
    </div>
    <form method="POST" action="contactsubmit">
      {% csrf_token %}
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">

        <div class="p-2 w-1/2">

          <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Name" type="text" name="name">
        </div>
        <div class="p-2 w-1/2">
          <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Email" type="email" name="email">
        </div>
        <div class="p-2 w-full">
          <textarea class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Message" name="msg"></textarea>
        </div>
        <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"  type="submit">Submit</button>
        </div>
      </form>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <a class="text-white">Pnitech@gmail.com</a>

          <span class="inline-flex">
            <a class="text-gray-500" href="https://www.facebook.com/PnI-Tech-101198704990959/">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500" href="https://twitter.com/pnitech">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a href="https://www.instagram.com/pni_tech/?r=nametag" class="ml-4 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>

          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
<!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">-->
<!--          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>-->
<!--        </svg>-->
<!--        <span class="ml-3 text-xl">PnI tech</span>-->
        <img src="{% static 'img/footerimg.jpg' %}">
      </a>
      <p class="mt-2 text-sm text-white ">Makes your ideas come true</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h1 class="title-font font-medium text-black tracking-widest text-sm mb-3 ">Company</h1>
        <nav class="list-none mb-10">
          <li>
            <a class="text-white hover:text-gray-800 " href="aboutus">About Us</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800 " href="services">Services</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800 " href="blog">Blog</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800 " href="gallery">Gallery</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-black tracking-widest text-sm mb-3">Services</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-white hover:text-gray-800 " href="services">Rapid Prototyping Services</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800" href="services">Vacuum Casting</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800" href="services">3D Laser Scanning</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800" href="services">3D Modelling</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-black tracking-widest text-sm mb-3">Services</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-white hover:text-gray-800" href="services">Small Batch Manufacturing</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800" href="services">Architecture Model Making Services</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800" href="services">Jewellery RPT</a>
          </li>

        </nav>
      </div>

    </div>
  </div>
  <div class="bg-gray-200">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Pnitech ||TERMS||PRIVACY

      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500" href="https://www.facebook.com/PnI-Tech-101198704990959/">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="https://twitter.com/pnitech">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a href="https://www.instagram.com/pni_tech/?r=nametag" class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="https://www.linkedin.com/company/pni-tech20">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
</body>
</html>